.code-snippet pre {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: #292D36;
  line-height: 1.6;
  margin-bottom: 1.6em;
  margin-right: 10px;
  max-width: 100%;
  padding: 1rem;
  padding-right: 0; /* make space for paste icon on right side */
  /* color: rgb(152, 152, 152); */
  color: #f4f4f4;
  page-break-inside: avoid;
  font-family: "IBM Plex Mono", consolas, monospace;
}

.code-snippet code {
  width: calc(100% - 60px);
  font-size: 1.125em;
  overflow-x: scroll;
  overflow-y: hidden; /* height automatically adjusts so hide scrollbar on chrome for windows */
  word-wrap: break-word;
}

.code-snippet .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  /* width:  20px; */
}

.code-snippet button {
  color: #f4f4f4;
  background: none;
  border-style: none;
  padding: 10px;
  font-size: 1.2em;
  /* width: 14px; */
  /* height: 16px; */
  cursor: pointer;
}

.code-snippet button:hover {
  color: #AFB4BE;
}

.code-snippet button:active {
  color: #cad1de;
}
