.lesson {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #777e8b;
  box-sizing: border-box;
}

.lesson-content {
  width: 100%;
  padding: 0 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.lesson-content h2 {
  border-bottom-color: #31353e;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #f4f4f4;
  margin: 0;
}

.lesson-content p {
  font-size: 1rem;
  line-height: 19.2px;
  color: #f4f4f4;
  letter-spacing: 0.5px;
}

.lesson-content a {
  color: #a9a9a9;
}
